html,body {
    height:100%;
}

h1 {
    font-family: verdana, serif;
}

label {
    font-weight: normal !important;
    display: inline !important;
}

/* Custom container */
.container-full {
    margin: 0 auto;
    width: 700px;
    min-height:100%;
    overflow:hidden;
}

.container-full a {
    color:#efefef;
    text-decoration:none;
}

.v-center {
    margin-top:20px;
}
